@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .nav-item {
        @apply px-4 py-1.5 rounded-full text-white/70 text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300;
    }

    .hero-ring {
        @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
    }
}

@layer utilities {
    .container {
        @apply lg:max-w-5xl;
    }
}

/* --- Slick Carousel Custom Dots (White) --- */
.slick-dots li button:before {
    color: white !important;
    opacity: 0.5;
    font-size: 10px; /* optional: make dots smaller */
}

.slick-dots li.slick-active button:before {
    color: white !important;
    opacity: 1;
}
